*,
*:before,
*:after {
	box-sizing: border-box;
}
body{
	margin: 0;
}
img {
	max-width: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	word-wrap: break-word;
}
.sidebar {
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color:#9cb0c7;
}
.left{
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color: #c798b8;
	order: -1;
}

.logo-picture{
	width: 140px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff0;
	padding: 15px;
}
.bar-list {
	font-weight: 700;
	display: flex;
	align-items: center;
}
.bar-list li {
	margin: 10px;
}
.bar-list a {
	text-decoration: none;
	color: #000;
}

.main{
	display: flex;
	width: 100%;
	flex-grow: 1;
}
.content{
	flex-grow: 1;
	padding: 20px;
}

.content-header {
	display: block;
	text-align: center;
	font-size: 1.25em;
	margin-bottom: 30px;
}

.card-box{
	display: block;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.card{
	margin: 0 10px 20px;
	width: calc(33.333% - 20px);
	padding: 10px 15px 15px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card-content {
	width: 100%;
}

.btn{
	text-decoration: none;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 3em;
	border: 2px solid #f50;
	color: #fff;
	background-color: #f90;
}

.image-box{
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid blue;
}

.image-box img{
	vertical-align: top;
}

.page-footer {
	padding: 10px 15px;
	background-color: rgba(0, 255, 0, .5);
	text-align: center;
}
#menu__toggle {
	opacity: 0;
  }
  .menu__btn {
	display: flex; 
	align-items: center;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
  /* контейнер меню */
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  
  /* элементы меню */
  .menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
  }
  .menu__item:hover {
	background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
  }
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.slick-slider.slick-initialized{
    width: 100%;
    max-width: 720px;
  }

  @media(max-width:720px){
	.card-box{
		display: block;
	}

  }
  .card-box .slick-track {
	display: flex;
	align-items: stretch;
  }

  .card-box .card.slick-slide {
	display: flex;
	height: auto;
  }