.b_qs{
    background-color: green;
    font-size: 24px;
}
a[href^="https"]{
color: red;
}
.holder>ul>li:last-child{
    background-color: blue;
}
.holder>p{
    font-size: 26px;
}
h3:first-child{
    color: pink;
}
#greycol{
    color: grey;
}
.level_3>div>p{
    color: red;
}
.level_3>p:nth-of-type(3){
    color: green;
}
.yellow{
    color: yellow;
}
.bg-box{
    width: 1000px;
    height: 1000px;
    
    background:
        url(images/pole-zelen-trava-dom-derevya.png),
        url(images/grass-png-images-pictures-transparent-28.png),
        url(images/58eb07b830eab15b56162788.png),
        url(images/eg.png),
        url(images/lamp-png-0.png);
        background-size: 600px 400px, 1000px 300px, 75px 75px, 50px 50px, 55px 75px;
        background-repeat: no-repeat,repeat-x,repeat-y,repeat-y,repeat-x; 
        background-position: center,bottom,right,left,top; 
        background-color: green;
}
